@{
    ViewBag.Title = "Callback";
}

<h1>
    Callback Page
</h1>

Code: <h3>@ViewBag.Code</h3>
State: <h3>@ViewBag.State</h3>

@*Get Token
<a class="btn btn-default" href="https://github.com/login/oauth/access_token?grant_type=authorization_code&client_id=4a9ad1ee0a3795e4d396&client_secret=e0412727156f5b6cde816bfbd67c5e3cb0e3f941&code=0273b0b7f2193bc8cca3&redirect_uri=https://localhost:44396/Home/Callback">Get Token</a>



