@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Injected Value:</h2>
        <p>
            @ViewBag.Message
        </p>
    </div>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Get Code</h2>        
        <a class="btn btn-default" href="@ViewBag.AuthorizeURL?client_id=@ViewBag.ClientId&redirect_uri=@ViewBag.RedirectURL&scope=@ViewBag.Scope&response_type=@ViewBag.ResponseType&response_mode=@ViewBag.ResponseMode&state=@ViewBag.State&nonce=@ViewBag.Nonce">Get Code</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get Token</h2>        
        <a class="btn btn-default" href="@ViewBag.TokenURL?grant_type=@ViewBag.GrantType&client_id=4a9ad1ee0a3795e4d396&client_secret=@ViewBag.ClientSecret&code=@ViewBag.Code&redirect_uri=@ViewBag.RedirectURL">Get Token</a>
    </div>
</div>